{% extends 'body.html' %}

{% load widget_tweaks %} <!--cargo la libreria  widget_tweaks-->

{% block content %}
<form method="POST" action=".">
    <div class="card card-default">
        <div class="card-header">
            <h4 class="card-title">
                <i class="fas fa-plus"></i>
                {{ title }}
            </h4>
        </div>
        <div class="card-body">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    <h5><i class="icon fas fa-ban"></i>Ha ocurrido un error al querer guardar un registro.</h5>
                    <ul>
                        {% for field in  form %}
                            {% for error in field.errors %}
                                <li> {{error}} </li>
                            {% endfor %}
                        {% endfor %}
                        
                    </ul>
                </div>
            {% endif %}

            {% for field in form.visible_fields %} <!--itero cada campo visible-->
                <div class="form-group">
                    <label for="email">{{ field.label }}</label>
                    {% comment %}En caso de usar la libreria widget_tweaks{% endcomment %}
                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    {% comment %} {{ field}}         en caso de que no use la libreria  widget_tweaks {% endcomment %}
                </div>

            {% endfor %}

            <!--{% comment %} {{ form }}{% endcomment %} renderizo CategoryForm creado en forms.py-->
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat " id="btnTest">
                <i class="fas fa-save"></i> Guardar Categoría
            </button>
        </div>
    </div>
</form>

{% endblock %}