{% extends 'body.html' %}

{% block content %}
    <form method="POST" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form }} <!--renderizo CategoryForm creado en forms.py-->
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat " id="btnTest">
                    <i class="fas fa-save"></i> Guardar Categoría
                </button>
            </div>
        </div>
    </form>

{% endblock %}