{% extends 'list.html' %}
{% load static %}
{#en este bloque llamamos al archivo js que nos permite trabajar con peticiones json de mucha variedad de datos para evitar una sobrecarga y tiempo de espera alto a la hora de traer los datos#}
{% block head_list %}
     <script src="{% static 'category/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%">Nro</th>
        <th scope="col" style="width: 20%">Nombres</th>
        <th scope="col" style="width: 20%">Apellidos</th>
        <th scope="col" style="width: 10%">DNI</th>
        <th scope="col" style="width: 20%">Fecha de nacimiento</th>
        <th scope="col" style="width: 20%">Sexo</th>
        <th scope="col" style="width: 20%">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}


{% endblock %}

{% block javascript %}
{% endblock %}