{% extends 'layout.html' %}

{% load widget_tweaks %} <!--cargo la libreria  widget_tweaks-->

{% block content %}
    <form method="POST" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="fas fa-trash"></i>
                    {{ title }}
                </h4>
            </div>
            <div class="card-body">
                {% csrf_token %}

                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h5><i class="icon fas fa-ban"></i>Ha ocurrido un error al querer guardar un registro.</h5>
                        <ul>
                            {% for field in  form %}
                                {% for error in field.errors %}
                                    <li> {{ error }} </li>
                                {% endfor %}
                            {% endfor %}

                        </ul>
                    </div>
                {% endif %}

                <div class="alert alert-danger alert-dismissible" >
                    <h5><i class="icon fas fa-ban">Notificación</i></h5>
                    ¿Estás seguro de que desea eliminar el registro nro {{ object.id }}?
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat rounded">
                        <i class="fas fa-save"> Si, Aceptar</i>
                </button>
                <a href="{{ list_url }}" class="btn btn-info btn-flat rounded ">
                    <i class="fas fa-info"> Cancelar</i>
                </a>
            </div>
        </div>
    </form>

       <script>

       $('form').on('submit', function (e) {
            e.preventDefault();
           let parameters = $(this).serializeArray(); //esto me permite obtener en un array todos los datos que hay en nuestro formulario. Con this hago referencia al formulario
            submitWithajax(window.location.pathname,'Notificación','¿Está seguro de eliminar el siguiente registro?',parameters,function () {
                location.href = '{{ list_url }}' //le paso la direccion a la q se va a redirigir a través del callback
            })
        })


    </script>

{% endblock %}