{% extends 'layout.html' %}

{% load widget_tweaks %} <!--cargo la libreria  widget_tweaks-->

{% block content %}
    <form method="POST" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}

                    {{ title }}
                </h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {% comment %}{% if form.errors %}                               Solo dejaré como ejemplo la otra forma de capturar errores en el formulario porque voy a hacer uso de la libreria sweetalert2
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        <h5><i class="icon fas fa-ban"></i>Ha ocurrido un error al querer guardar un registro.</h5>
                        <ul>
                            {% for field in  form %}
                                {% for error in field.errors %}
                                    <li> {{ error }} </li>
                                {% endfor %}
                            {% endfor %}

                        </ul>
                    </div>
                {% endif %}{% endcomment %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %} <!--itero cada campo visible-->
                    <div class="form-group">
                        <label for="email">{{ field.label }}</label>
                        {% comment %}En caso de usar la libreria widget_tweaks{% endcomment %}
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                        {% comment %} {{ field}}         en caso de que no use la libreria  widget_tweaks {% endcomment %}
                    </div>

                {% endfor %}

                <!--{% comment %} {{ form }}{% endcomment %} renderizo CategoryForm creado en forms.py-->
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat " id="btnTest">
                    <i class="fas fa-save"></i> Guardar Registro
                </button>
            </div>
        </div>
    </form>

    <script>
        {% if form.errors %}
            let errors = '';
            {% for field in  form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            Swal.fire({ //Sweet Alert
                title: 'Error!',
                text: errors, //le paso el error atrapado en el form
                icon: 'error',
            })
        {% endif %}

        $('form').on('submit', function (e) {
            e.preventDefault();
            let parameters = $(this).serializeArray(); //esto me permite obtener en un array todos los datos que hay en nuestro formulario. Con this hago referencia al formulario
            $.ajax({
                //url: '{% url 'erp:category_create' %}',
                url: window.location.pathname,
                type: 'POST',
                data: parameters, //le mando los parametros del formulario
                dataType: 'json',
            }).done(function (data) {//si tod0 sale bien
                if (!data.hasOwnProperty('error')) {//si no detecta error
                    location.href = '{{ list_url }}';
                    return false; //para salir del proceso
                }
                //else

                message_error(data.error);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown)
            }).always(function () {
                //console.log('complete') //se imprime siempre
            });
        })


    </script>

{% endblock %}