{% extends 'list.html' %}


{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                {% else %}
                    <i class="fas fa-edit"></i>
                {% endif %}
                {{ title }}
            </h3>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">
            {% block buttons_list %}
                <!--esto sirve para que las páginas puedan usar los botones a su gusto y hereden lo q necesiten-->
                <a class="btn btn-primary btn-flat " id="btnTest">
                    <!--create_url la defini en la views de product en ListView-->
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
                <a href="{{ list_url }}" class="btn btn-success btn-flat">
                    <i class="fas fa-sync"></i> Actualizar
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock %}
